<p>
  <br>
</p>

<table>
  <tbody>
  <tr>
    <td style="width: 51.3087%;">
      <br>
    </td>
    <td style="width: 48.601%;">
      <div class='\"fr-text-uppercase\"'><strong><span>Утверждаю:</span></strong></div>
      <div><strong><span><br></span></strong><span>АО &quot;Концерн Росэнергоатом&quot;<br>Первый заместитель Генерального </span></div>
      <div><span>директора по эксплуатации АЭС&nbsp;</span></div>
      <div><span><img src="https://s3-eu-west-1.amazonaws.com/froala-eu/temp_files%2F1551352938953-%D0%91%D0%B5%D0%B7+%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-1.png" style="width: 117px;" class="fr-fic fr-dii">А.В. Шутиков</span></div>
      <div><span>&laquo;___&raquo;</span><span>&nbsp;__________2018 г.</span></div>
      <br>
      <br>
      <div><span>АО &laquo;ОКАН&raquo;<br>Генеральный директор<br>_________________В.О. Томшинский<br>&laquo;___&raquo; __________2018 г.</span></div>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center;">
      <div>
        <br>
      </div>
      <div><span><strong>ТЕХНИЧЕСКИЕ УСЛОВИЯ&nbsp;</strong></span></div>
      <div><strong><span>ТУ-ОК-Т-001-2018&nbsp;</span></strong></div>
      <div><span><strong>&lt;НАИМЕНОВАНИЕ ОБОРУДОВАНИЯ&gt;</strong></span></div>

      <p>
        <br>
      </p>
    </td>
  </tr>
  <tr>
    <td style="width: 51.3087%;">
      <div class='\"fr-text-uppercase\"'><strong><span>Согласовано:</span></strong></div><span>АО &laquo;Концерн Росэнергоатом&raquo;<br>Заместитель генерального директора,<br>Директор по производству и <br>эксплуатации АЭС<br>_________________А.А. Дементьев<br>&laquo;___&raquo; __________2018 г.</span>
      <br>
      <br>

      <p><span>АО &laquo;Концерн Росэнергоатом&raquo;<br>Директор по качеству<br>_________________В.Н. Блинков<br>&laquo;___&raquo; __________2018 г.</span></p><span>Филиал АО &laquo;Концерн Росэнергоатом&raquo;<br>Нововоронежская АЭС</span>
      <br><span>Главный инженер</span>
      <br><span>_________________А.И. Федоров</span>
      <br><span>&laquo;___&raquo; __________2018 г.</span>
      <br>
      <br><span>АО &laquo;Атомэнергопроект&raquo;<br>Заместитель директора по</span>
      <br><span>проектированию действующих АЭС<br>_________________В.А. Андрианов<br>&laquo;___&raquo; __________2018 г.</span>
      <br>

      <p>
        <br>
      </p>
    </td>
    <td style="vertical-align: top; width: 48.601%;">
      <div><strong><span>РАЗРАБОТАЛ:</span></strong></div><span>АО &laquo;ОКАН&raquo;<br>Инженер проекта<br>_________________<br>&laquo;___&raquo; __________2018 г.</span>
      <br>
    </td>
  </tr>
  </tbody>
</table>
